In [1]:
import sys
import os
if "/opt/condaenv/anaconda2/envs/sentimentInduction" not in sys.path:
    sys.path.append("/opt/condaenv/anaconda2/envs/sentimentInduction")
if "/opt/condaenv/anaconda2/envs/sentimentInduction/lib/python2.7/site-packages" not in sys.path:
    sys.path.append("/opt/condaenv/anaconda2/envs/sentimentInduction/lib/python2.7/site-packages")
import pandas as pd
from socialsentRun.socialconfig import config
COLLECT_ACCURACIS_DIR = config.get("COLLECT_ACCURACIS_DIR")
import ujson
open_file = os.path.join(COLLECT_ACCURACIS_DIR,"services_evaluations_all.txt")
dfv = pd.read_json(open_file,orient='records',lines=True,encoding="utf-8")
dfv.head()

   accuracy emb_params     method vocab_sz
0     77.88    w4_d100  rand_walk   tp5000
1     79.36    w2_d300  rand_walk   tp5000
2     78.07    w3_d200  rand_walk   tp5000
3     78.78    w4_d200  rand_walk   tp5000
4     78.23    w3_d100  rand_walk   tp5000

In [2]:
dfmeans_vocab_sz = dfv.copy().set_index(['vocab_sz','method'])
dfmeans_vocab_sz["mean_acccuracy_all_vocab_sz"] = dfmeans_vocab_sz.groupby(['vocab_sz','method'])['accuracy'].mean()
# dfmeans_vocab_sz["var_acccuracy_all_vocab_sz"] = dfmeans_vocab_sz.groupby(['vocab_sz','method'])['accuracy'].var()
dfmeans_vocab_sz.drop(['accuracy','emb_params'],inplace=True,axis=1)
dfmeans_vocab_sz = dfmeans_vocab_sz.reset_index()
dfmeans_vocab_sz = dfmeans_vocab_sz.drop_duplicates()
dfmeans_vocab_sz.head(1)

  vocab_sz     method  mean_acccuracy_all_vocab_sz
0   tp5000  rand_walk                    78.482222

In [3]:
dfmeans_vocab_sz = dfmeans_vocab_sz.set_index(['vocab_sz','method'])
dfmeans_vocab_sz = dfmeans_vocab_sz.round(2)
dfmeans_vocab_sz = dfmeans_vocab_sz.unstack(1)
dfmeans_vocab_sz.head()

         mean_acccuracy_all_vocab_sz                                          \
method                       densify grap_prop labe_prop_cont labe_prop_prob
vocab_sz
tp10000                        29.88     72.50          78.71          78.79
tp15000                        22.98     72.96          78.77          78.25
tp20000                        35.49     71.88          78.53          77.36
tp5000                         38.61     75.02          78.71          78.00


method   rand_walk
vocab_sz
tp10000      75.54
tp15000      74.86
tp20000      73.97
tp5000       78.48

In [6]:
dfmeans_params = dfv.copy().set_index(['emb_params','method'])
dfmeans_params["mean_acccuracy_all_params"] = dfmeans_params.groupby(['emb_params','method'])['accuracy'].mean()
# dfmeans_params["var_acccuracy_all_vocab_sz"] = dfmeans_params.groupby(['vocab_sz','method'])['accuracy'].var()
dfmeans_params.drop(['accuracy','vocab_sz'],inplace=True,axis=1)
dfmeans_params = dfmeans_params.reset_index()
dfmeans_params = dfmeans_params.drop_duplicates()
dfmeans_params.head(1)

  emb_params     method  mean_acccuracy_all_params
0    w4_d100  rand_walk                    74.0375

In [7]:
dfmeans_params = dfmeans_params.set_index(['emb_params','method'])
dfmeans_params = dfmeans_params.round(2)
dfmeans_params = dfmeans_params.unstack(1)
dfmeans_params.head(9)

           mean_acccuracy_all_params                                          \
method                       densify grap_prop labe_prop_cont labe_prop_prob
emb_params
w2_d100                        17.00     70.30          79.00          77.80
w2_d200                        17.45     72.85          78.82          79.25
w2_d300                        19.33     74.31          79.37          79.74
w3_d100                        36.68     70.24          78.76          76.59
w3_d200                        53.84     74.21          79.23          78.43
w3_d300                        53.51     72.69          78.98          80.04
w4_d100                        37.75     76.58          77.35          75.76
w4_d200                        24.40     75.22          78.12          78.82
w4_d300                        25.67     71.40          78.50          76.49


method     rand_walk
emb_params
w2_d100        75.86
w2_d200        74.96
w2_d300        76.62
w3_d100        75.56
w3_d200        76.69
w3_d300        76.59
w4_d100        74.04
w4_d200        75.26
w4_d300        75.84

In [9]:
dfmeans_params.stack().query('method == "labe_prop_cont"')['mean_acccuracy_all_params'].values

array([79.  , 78.82, 79.37, 78.76, 79.23, 78.98, 77.35, 78.12, 78.5 ])

In [10]:
dfmeans_params.to_csv("services_params_effects_on_acc.csv")

In [11]:
dfmeans_params.to_html("services_params_effects_on_acc.html")

In [12]:
dfmeans_vocab_sz.to_html("services_vocab_effects_on_acc.html")