In [68]:
import sys
import os
if "/opt/condaenv/anaconda2/envs/sentimentInduction" not in sys.path:
    sys.path.append("/opt/condaenv/anaconda2/envs/sentimentInduction")
if "/opt/condaenv/anaconda2/envs/sentimentInduction/lib/python2.7/site-packages" not in sys.path:
    sys.path.append("/opt/condaenv/anaconda2/envs/sentimentInduction/lib/python2.7/site-packages")
import pandas as pd
from socialsentRun.socialconfig import config
COLLECT_ACCURACIS_DIR = config.get("COLLECT_ACCURACIS_DIR")
import ujson
open_file = os.path.join(COLLECT_ACCURACIS_DIR,"food_evaluations_all.txt")
dfv = pd.read_json(open_file,orient='records',lines=True,encoding="utf-8")
dfv.head()

   accuracy emb_params     method vocab_sz
0     75.27    w4_d100  rand_walk   tp5000
1     74.48    w2_d300  rand_walk   tp5000
2     74.84    w3_d200  rand_walk   tp5000
3     75.59    w4_d200  rand_walk   tp5000
4     75.62    w3_d100  rand_walk   tp5000

In [86]:
dfmeans_vocab_sz = dfv.copy().set_index(['vocab_sz','method'])
dfmeans_vocab_sz["mean_acccuracy_all_vocab_sz"] = dfmeans_vocab_sz.groupby(['vocab_sz','method'])['accuracy'].mean()
# dfmeans_vocab_sz["var_acccuracy_all_vocab_sz"] = dfmeans_vocab_sz.groupby(['vocab_sz','method'])['accuracy'].var()
dfmeans_vocab_sz.drop(['accuracy','emb_params'],inplace=True,axis=1)
dfmeans_vocab_sz = dfmeans_vocab_sz.reset_index()
dfmeans_vocab_sz = dfmeans_vocab_sz.drop_duplicates()
dfmeans_vocab_sz.head(1)

  vocab_sz     method  mean_acccuracy_all_vocab_sz
0   tp5000  rand_walk                    74.898889

In [87]:
dfmeans_vocab_sz = dfmeans_vocab_sz.set_index(['vocab_sz','method'])
dfmeans_vocab_sz = dfmeans_vocab_sz.round(2)
dfmeans_vocab_sz = dfmeans_vocab_sz.unstack(1)
dfmeans_vocab_sz.head()

         mean_acccuracy_all_vocab_sz                                          \
method                       densify grap_prop labe_prop_cont labe_prop_prob
vocab_sz
tp10000                        80.83     70.09          74.01          73.68
tp15000                        80.90     69.07          73.87          73.73
tp20000                        80.61     70.18          74.06          72.38
tp5000                         80.90     70.62          74.13          73.86


method   rand_walk
vocab_sz
tp10000      74.77
tp15000      74.71
tp20000      75.05
tp5000       74.90

In [88]:
dfmeans_params = dfv.copy().set_index(['emb_params','method'])
dfmeans_params["mean_acccuracy_all_params"] = dfmeans_params.groupby(['emb_params','method'])['accuracy'].mean()
# dfmeans_params["var_acccuracy_all_vocab_sz"] = dfmeans_params.groupby(['vocab_sz','method'])['accuracy'].var()
dfmeans_params.drop(['accuracy','vocab_sz'],inplace=True,axis=1)
dfmeans_params = dfmeans_params.reset_index()
dfmeans_params = dfmeans_params.drop_duplicates()
dfmeans_params.head(1)

  emb_params     method  mean_acccuracy_all_params
0    w4_d100  rand_walk                     75.115

In [89]:
dfmeans_params = dfmeans_params.set_index(['emb_params','method'])
dfmeans_params = dfmeans_params.round(2)
dfmeans_params = dfmeans_params.unstack(1)
dfmeans_params.head(9)

           mean_acccuracy_all_params                                          \
method                       densify grap_prop labe_prop_cont labe_prop_prob
emb_params
w2_d100                        80.38     68.69          73.86          73.74
w2_d200                        80.64     68.26          73.74          72.00
w2_d300                        80.50     69.90          73.80          74.16
w3_d100                        81.11     72.29          74.02          73.81
w3_d200                        81.05     70.24          74.37          73.52


method     rand_walk
emb_params
w2_d100        74.62
w2_d200        74.39
w2_d300        74.23
w3_d100        74.97
w3_d200        75.64

In [90]:
dfmeans_params.head(9)

           mean_acccuracy_all_params                                          \
method                       densify grap_prop labe_prop_cont labe_prop_prob
emb_params
w2_d100                        80.38     68.69          73.86          73.74
w2_d200                        80.64     68.26          73.74          72.00
w2_d300                        80.50     69.90          73.80          74.16
w3_d100                        81.11     72.29          74.02          73.81
w3_d200                        81.05     70.24          74.37          73.52
w3_d300                        80.78     72.08          73.97          73.10
w4_d100                        80.86     66.20          74.20          73.32
w4_d200                        81.18     71.50          74.12          73.36
w4_d300                        80.78     70.78          74.09          73.71


method     rand_walk
emb_params
w2_d100        74.62
w2_d200        74.39
w2_d300        74.23
w3_d100        74.97
w3_d200        75.64
w3_d300        75.06
w4_d100        75.11
w4_d200        74.92
w4_d300        74.77

In [93]:
dfmeans_params.stack().query('method == "labe_prop_cont"')['mean_acccuracy_all_params'].values

array([73.86, 73.74, 73.8 , 74.02, 74.37, 73.97, 74.2 , 74.12, 74.09])