In [1]:
import sys
import os
if "/opt/condaenv/anaconda2/envs/sentimentInduction" not in sys.path:
    sys.path.append("/opt/condaenv/anaconda2/envs/sentimentInduction")
if "/opt/condaenv/anaconda2/envs/sentimentInduction/lib/python2.7/site-packages" not in sys.path:
    sys.path.append("/opt/condaenv/anaconda2/envs/sentimentInduction/lib/python2.7/site-packages")
import pandas as pd
from socialsentRun.socialconfig import config
COLLECT_ACCURACIS_DIR = config.get("COLLECT_ACCURACIS_DIR")
import ujson
open_file = os.path.join(COLLECT_ACCURACIS_DIR,"bars_evaluations_all.txt")
dfv = pd.read_json(open_file,orient='records',lines=True,encoding="utf-8")
dfv.head()

   accuracy emb_params     method vocab_sz
0     77.15    w4_d100  rand_walk   tp5000
1     77.69    w2_d300  rand_walk   tp5000
2     76.27    w3_d200  rand_walk   tp5000
3     75.51    w4_d200  rand_walk   tp5000
4     77.30    w3_d100  rand_walk   tp5000

In [2]:
dfmeans_vocab_sz = dfv.copy().set_index(['vocab_sz','method'])
dfmeans_vocab_sz["mean_acccuracy_all_vocab_sz"] = dfmeans_vocab_sz.groupby(['vocab_sz','method'])['accuracy'].mean()
# dfmeans_vocab_sz["var_acccuracy_all_vocab_sz"] = dfmeans_vocab_sz.groupby(['vocab_sz','method'])['accuracy'].var()
dfmeans_vocab_sz.drop(['accuracy','emb_params'],inplace=True,axis=1)
dfmeans_vocab_sz = dfmeans_vocab_sz.reset_index()
dfmeans_vocab_sz = dfmeans_vocab_sz.drop_duplicates()
dfmeans_vocab_sz.head(1)

  vocab_sz     method  mean_acccuracy_all_vocab_sz
0   tp5000  rand_walk                    76.853333

In [3]:
dfmeans_vocab_sz = dfmeans_vocab_sz.set_index(['vocab_sz','method'])
dfmeans_vocab_sz = dfmeans_vocab_sz.round(2)
dfmeans_vocab_sz = dfmeans_vocab_sz.unstack(1)
dfmeans_vocab_sz.head()

         mean_acccuracy_all_vocab_sz                                          \
method                       densify grap_prop labe_prop_cont labe_prop_prob
vocab_sz
tp10000                        77.46     67.16          75.89          74.16
tp15000                        79.15     67.14          76.24          73.87
tp20000                        78.99     66.28          76.12          73.94
tp5000                         79.73     64.68          76.13          74.01


method   rand_walk
vocab_sz
tp10000      77.07
tp15000      77.47
tp20000      77.44
tp5000       76.85

In [4]:
dfmeans_params = dfv.copy().set_index(['emb_params','method'])
dfmeans_params["mean_acccuracy_all_params"] = dfmeans_params.groupby(['emb_params','method'])['accuracy'].mean()
# dfmeans_params["var_acccuracy_all_vocab_sz"] = dfmeans_params.groupby(['vocab_sz','method'])['accuracy'].var()
dfmeans_params.drop(['accuracy','vocab_sz'],inplace=True,axis=1)
dfmeans_params = dfmeans_params.reset_index()
dfmeans_params = dfmeans_params.drop_duplicates()
dfmeans_params.head(1)

  emb_params     method  mean_acccuracy_all_params
0    w4_d100  rand_walk                    77.0725

In [5]:
dfmeans_params = dfmeans_params.set_index(['emb_params','method'])
dfmeans_params = dfmeans_params.round(2)
dfmeans_params = dfmeans_params.unstack(1)
dfmeans_params.head()

           mean_acccuracy_all_params                                          \
method                       densify grap_prop labe_prop_cont labe_prop_prob
emb_params
w2_d100                        78.41     69.33          76.28          74.69
w2_d200                        78.93     65.84          76.38          73.78
w2_d300                        77.97     66.70          76.10          73.81
w3_d100                        78.89     61.62          75.76          75.20
w3_d200                        79.16     63.54          75.98          73.58


method     rand_walk
emb_params
w2_d100        77.53
w2_d200        77.72
w2_d300        77.28
w3_d100        77.11
w3_d200        77.17

In [8]:
dfmeans_params.stack().query('method == "labe_prop_cont"')['mean_acccuracy_all_params'].values

array([76.28, 76.38, 76.1 , 75.76, 75.98, 75.7 , 75.86, 76.25, 76.54])