In [1]:
import sys
import os
if "/opt/condaenv/anaconda2/envs/sentimentInduction" not in sys.path:
    sys.path.append("/opt/condaenv/anaconda2/envs/sentimentInduction")
if "/opt/condaenv/anaconda2/envs/sentimentInduction/lib/python2.7/site-packages" not in sys.path:
    sys.path.append("/opt/condaenv/anaconda2/envs/sentimentInduction/lib/python2.7/site-packages")
import pandas as pd
from socialsentRun.socialconfig import config
COLLECT_ACCURACIS_DIR = "/opt/condaenv/anaconda2/envs/sentimentInduction/socialsentRun/MeanPolaritiesByCategory/food/vocab_top20000"
import ujson
open_file = os.path.join(COLLECT_ACCURACIS_DIR,"food_vocab_top20000_mean_polarities.txt")
dfv = pd.read_json(open_file,orient='records',lines=True,encoding="utf-8")
dfv.head()

,densify,graph_propagate,label_propagate_continuous,label_propagate_probabilistic,method_count,random_walk,token
0,NaN,0.04,NaN,0.02,2,NaN,saimin
1,0.02,0.04,NaN,0.02,3,NaN,coffee-related
2,0.10,0.04,NaN,0.02,3,NaN,mid-week
3,-0.12,0.04,NaN,0.02,3,NaN,white-walled
4,-0.18,0.04,NaN,0.02,3,NaN,5-diamond

In [2]:
from socialsentRun.socialconfig import FOOD_POSITIVE_SEEDS,FOOD_NEGATIVE_SEEDS,BARS_POSITIVE_SEEDS,BARS_NEGATIVE_SEEDS,LEISURE_POSITIVE_SEEDS,LEISURE_NEGATIVE_SEEDS,GROOMING_POSITIVE_SEEDS,GROOMING_NEGATIVE_SEEDS,HEALTH_POSITIVE_SEEDS,HEALTH_NEGATIVE_SEEDS,LEARN_POSITIVE_SEEDS,LEARN_NEGATIVE_SEEDS,SHOPPING_POSITIVE_SEEDS,SHOPPING_NEGATIVE_SEEDS,PLANNING_POSITIVE_SEEDS,PLANNING_NEGATIVE_SEEDS,SERVICES_POSITIVE_SEEDS,SERVICES_NEGATIVE_SEEDS,SPORTS_POSITIVE_SEEDS,SPORTS_NEGATIVE_SEEDS,MUNICIPAL_POSITIVE_SEEDS,MUNICIPAL_NEGATIVE_SEEDS

In [3]:
FOOD_POSITIVE_SEEDS.extend(FOOD_NEGATIVE_SEEDS)

In [4]:
dfgt4 = dfv[dfv['method_count'] > 4]

In [5]:
dfgt4 = dfgt4[~dfgt4['token'].isin(FOOD_POSITIVE_SEEDS)]

In [6]:
dfgt4.shape

(599, 7)

In [7]:

dfgt4 = dfgt4.set_index('token')
dfgt4.drop(['method_count'],inplace=True,axis=1)
"Ok"

'Ok'

In [8]:
dfgt4['mean_pol'] = dfgt4.mean(axis=1)
dfgt4['var'] = dfgt4.var(axis=1)

In [9]:
dfgt4 = dfgt4.sort_values('mean_pol',ascending=False)
dfgt4.head()

,densify,graph_propagate,label_propagate_continuous,label_propagate_probabilistic,random_walk,mean_pol,var
token,,,,,,,
terrific,0.81,1.00,0.34,0.35,0.89,0.678,0.077576
fabulous,0.76,0.78,0.37,0.39,0.90,0.640,0.047400
phenomenal,0.70,0.86,0.34,0.36,0.88,0.628,0.055456
outstanding,0.71,0.64,0.34,0.36,0.90,0.590,0.045680
incredible,0.75,0.70,0.30,0.32,0.86,0.586,0.053504

In [15]:
str(dfgt4['var'].mean())[:5]

'0.026'

In [10]:
dfgt4.tail()

,densify,graph_propagate,label_propagate_continuous,label_propagate_probabilistic,random_walk,mean_pol,var
token,,,,,,,
wet,-0.62,-0.45,-0.27,-0.25,-0.82,-0.482,0.046616
limp,-0.66,-0.59,-0.26,-0.24,-0.80,-0.510,0.049680
inedible,-0.79,-0.58,-0.25,-0.24,-0.80,-0.532,0.061096
sloppy,-0.60,-0.59,-0.32,-0.31,-0.85,-0.534,0.040664
horrible,-0.85,-0.95,-0.21,-0.20,-0.79,-0.600,0.106640

In [17]:
wb = dfv.copy()
wb = wb[~wb['token'].isin(FOOD_POSITIVE_SEEDS)]

In [18]:
wb = wb.set_index('token')
wb.drop(['method_count'],inplace=True,axis=1)
"Ok"

'Ok'

In [19]:
wb['mean_pol'] = wb.mean(axis=1)
wb.shape

(19967, 6)

In [23]:
w = wb.copy()
w = w.reset_index()

w.drop([   u'densify',
                     u'graph_propagate',    u'label_propagate_continuous',
       u'label_propagate_probabilistic',                   u'random_walk'],inplace=True,axis=1)
w=w.rename({"mean_pol":"food"},axis=1)
w.to_csv("common_food_words.csv",encoding='utf-8')

In [11]:
dfgt5 = dfgt4.sort_values('var',ascending=False)
dfgt5.head()

,densify,graph_propagate,label_propagate_continuous,label_propagate_probabilistic,random_walk,mean_pol,var
token,,,,,,,
pathetic,-0.94,-0.75,-0.01,0.01,-0.12,-0.362,0.161096
unpleasant,-0.89,-0.15,-0.01,0.01,-0.09,-0.226,0.113504
lousy,-0.71,-0.72,-0.01,0.01,-0.11,-0.308,0.112096
disgusting,-0.91,-0.67,-0.08,-0.05,-0.44,-0.430,0.111000
inventive,0.88,0.04,0.02,0.04,0.26,0.248,0.107616

In [12]:
i=18
dfgt5[i*5:i*5+5]

,densify,graph_propagate,label_propagate_continuous,label_propagate_probabilistic,random_walk,mean_pol,var
token,,,,,,,
limp,-0.66,-0.59,-0.26,-0.24,-0.80,-0.510,0.049680
greasy,-0.26,-0.24,-0.24,-0.24,-0.80,-0.356,0.049344
wilted,-0.48,0.04,-0.07,-0.04,-0.46,-0.202,0.049216
lovely,0.70,0.61,0.27,0.30,0.83,0.542,0.049016
okay,-0.33,0.23,0.08,0.10,0.31,0.078,0.048776

In [13]:
dfgt5 = dfgt4.sort_values('var',ascending=False)
dfgt5.tail()

,densify,graph_propagate,label_propagate_continuous,label_propagate_probabilistic,random_walk,mean_pol,var
token,,,,,,,
brassy,0.04,0.05,0.01,0.04,0.06,0.040,0.000280
f**king,0.05,0.05,0.01,0.03,0.04,0.036,0.000224
macha,0.03,0.05,0.02,0.04,0.06,0.040,0.000200
all-round,0.04,0.05,0.01,0.03,0.03,0.032,0.000176
saying,0.04,0.04,0.01,0.03,0.04,0.032,0.000136

In [14]:
dfgt5[dfgt5['var'] >= 0.30].shape

(0, 7)